

<app-products></app-products>



















<!-- <div>
    <p>Template Driven Form</p>
</div>

<div>
    <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
        <div>
           <label for="email">Enter your Email</label>
           <input type="text" class="form-control" id="email" ngModel required name="email" #email="ngModel"/>
           <small *ngIf="!email.valid && email.touched" style="color: red;">Please enter the valid Email</small>
        </div>
        <div>
            <label for="pass">Enter your Password</label>
            <input type="password" class="form-control" id="pass" ngModel required name="pass"/>
         </div>
         <div>
            <label for="username">Enter your UserName</label>
            <input type="text" class="form-control" id="username" ngModel name="username"/>
         </div>
         <div>
            <label for="ph">Enter your PhoneNumber</label>
            <input type="number" class="form-control" id="ph" ngModel name="ph"/>
         </div>
         <div>
            <label for="adress">Enter your adress</label>
            <input type="text" class="form-control" id="adress" ngModel name="adress"/>
         </div>
         <div>
            <button [disabled]="!userForm.valid">Submit</button>
         </div>
    </form>
</div> -->










































 <!-- <div class="container">
    <div class="row">
          <div class="col-sm-4">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="/home" class="active" >Home</a>
                </li>
            </ul>
          </div>

          <div class="col-sm-4">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="/about" class="active" >About</a>
                </li>
            </ul>
          </div>

          <div class="col-sm-4">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="/contact" class="active" >Contact</a>
                </li>
            </ul>
          </div>

    </div>

    
</div>  -->


<!-- <router-outlet></router-outlet> -->

<!-- <app-parent></app-parent> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-home></app-home> -->






























<!-- <h1>Welcome to My Website</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-4" style="border-right: 2px solid orange;">
             <app-left></app-left>
        </div>

        <div class="col-sm-4" style="border-right: 2px solid yellowgreen;">
             <app-middle></app-middle>
       </div>

       <div class="col-sm-4">
             <app-right></app-right>
       </div>
    </div>
</div> -->