<p>home works!</p>
<p>{{_counter.counter}}</p>
<button (click)="increment()">Increment</button>
<button (click)="decrement()">Decrement</button>
<hr/>

<!-- <app-about [Vinutha]="name" [subChild]="subParent"></app-about> -->

<div *ngIf="posts">
    <h2>Posts</h2>
    <ul>
        <li *ngFor="let post of posts">
             {{ post.title }}
        </li>
    </ul>
</div>

<div *ngIf="comments">
    <h2>Comments</h2>
    <ul>
        <li *ngFor="let i of comments">
                {{i.id}}
                {{i.name}}
        </li>
    </ul>
</div>

<div *ngIf="todos">
    <h2>Todos</h2>
    <ul>
        <li *ngFor="let i of todos">
                {{i.id}}
                {{i.title}}
        </li>
    </ul>
</div>

<div *ngIf="album">
    <h2>Album</h2>
    <ul>
        <li *ngFor="let i of album">
                {{i.id}}
                {{i.title}}
        </li>
    </ul>
</div>
