<!-- <p>pipes works!</p>

<p>Date:{{today | date:'yyyy-MM-dd HH-mm-ss' }}</p>
<p>Uppercase:{{upperCase | uppercase}}</p>
<p>Lowercase:{{lowerCase | lowercase}}</p>
<p>Titlecase:{{titleCase | titlecase}}</p>
<p>Currency:{{a|currency:'INR'}}</p>
<p>Decimal:{{pi|number:'4.1-5'}}</p>
<p>Percent:{{a|percent}}</p>

<p>JsonPipe:{{object}}</p>
<p *ngFor="let i of name|slice:0:3 ">{{i}}</p>
<p>{{name|slice : 0:4}}</p>
<p *ngFor="let i of names | keyvalue">{{i.key}}:{{i.value}}</p>
<p *ngFor="let i of stu |keyvalue" >{{i.key}}:{{i.value}}</p>
<p>{{select | i18nSelect:courses}}</p> -->


